<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.championshipsList">Campeonato </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Editar Campeonato</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalhes do Campeonato</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Nome do Campeonaoto<span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Daniel">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Tipo de Campeonato <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}"
                                            class="form-control select" placeholder="Select City">
                                            <mat-option *ngFor="let data of selectedList2" [value]="data.value">
                                                {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Equipe 1 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Daniel Bruk">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Equipe 2 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Daniel Bruk">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Equipe 3 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Daniel Bruk">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Equipe 4 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Daniel Bruk">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Equipe 5 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Daniel Bruk">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Equipe 6 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Daniel Bruk">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Equipe 7 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Daniel Bruk">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Equipe 8 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Daniel Bruk">
                                    </div>
                                </div>


                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">Editar</button>
                                        <button type="submit" class="btn btn-primary cancel-form">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
