<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="[]">Simulação</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Realizar Simulação</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalhes da Simulação</h4>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Quartas de Finais <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                    </div>

                                    <div class="form-group local-forms">
                                        <label>Quartas de Finais <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                    </div>

                                    <div class="form-group local-forms">
                                        <label>Quartas de Finais <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                    </div>

                                    <div class="form-group local-forms">
                                        <label>Quartas de Finais <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                    </div>
                                </div>

                                <!-- <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Semifinal <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                    </div>

                                    <div class="form-group local-forms">
                                        <label>Semifinal <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-xl-4">

                                    <div class="form-group local-forms">
                                        <label>Disuta de 3º Lugar <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                    </div>

                                    <div class="form-group local-forms">
                                        <label>Final <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Time">
                                    </div>
                                </div> -->

                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <div class="form-group local-forms">
                                            <label>Selecionar Partida <span class="login-danger">*</span></label>
                                            <mat-select [(ngModel)]="campeonato_id"
                                                [ngModelOptions]="{standalone: true}" class="form-control select"
                                                placeholder="Selecione Partida">
                                                <mat-option [value]="null">Selecione uma Partida</mat-option>
                                                <mat-option *ngFor="let data of simulationMatchList" [value]="data.id">
                                                    {{ data.fase }} - {{ data.equipe_a }} x {{ data.equipe_b }}
                                                </mat-option>
                                            </mat-select>
                                        </div>

                                        <button *ngIf="showButton" type="submit"
                                            class="btn btn-primary submit-form me-2"
                                            (click)="drawTeams()">Sorteio</button>

                                        <button type="submit" class="btn btn-primary submit-form me-2"
                                            (click)="simulateMatch()">Simular Partida</button>
                                        <button type="submit" class="btn btn-primary cancel-form">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
