<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Time</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Editar Times</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalhes do Time</h4>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Time 1 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name1"
                                            placeholder="Nome do Campeonato">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Time 2 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name2"
                                            placeholder="Nome do Campeonato">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Time 3 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name3"
                                            placeholder="Nome do Campeonato">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Time 4 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name4"
                                            placeholder="Nome do Campeonato">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Time 5 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name5"
                                            placeholder="Nome do Campeonato">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Time 6 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name6"
                                            placeholder="Nome do Campeonato">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Time 7 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name7"
                                            placeholder="Nome do Campeonato">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Time 8 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="name" name="name8"
                                            placeholder="Nome do Campeonato">
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="valid_form">
                                    <div class="col-md-6">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <strong>Falha na Atuaização!</strong> É necessário<a
                                                href="javascript:void(0);" class="alert-link"></a>
                                            adicionar um nome
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close">
                                                <span aria-hidden="true"> </span>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row" *ngIf="valid_form_success">
                                    <div class="col-md-6">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong>Dado Atualizado Com Sucesso!</strong> <a href="javascript:void(0);"
                                                class="alert-link"></a>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close">
                                                <span aria-hidden="true"> </span>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row" *ngIf="text_validation">
                                    <div class="col-md-6">
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong>!</strong><a href="javascript:void(0);" class="alert-link"></a>
                                            {{ text_validation}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close">
                                                <span aria-hidden="true"> </span>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2"
                                            (click)="save()">Editar</button>
                                        <button type="submit" class="btn btn-primary cancel-form">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
