<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="[]">Simulação</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Realizar Simulação</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalhes da Simulação</h4>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">

                                        <div *ngFor="let data of simulationResultMatchList; let i = index">
                                            <ng-container *ngIf="i === 0">
                                                <label>Jogo {{ i+1 }} {{ data.fase }} <span
                                                        class="login-danger">*</span></label>
                                                <input class="form-control" type="text" [value]="
                                                    data.equipe_a.nome + ' ' + 
                                                    (data.equipe_a.gols_marcados !== null ? data.equipe_a.gols_marcados : '') +
                                                    (data.equipe_a.gols_penaltis !== null ? ' (' + data.equipe_a.gols_penaltis + ')' : '') +
                                                    ' x ' +
                                                    (data.equipe_b.gols_marcados !== null ? data.equipe_b.gols_marcados : '') +
                                                    (data.equipe_b.gols_penaltis !== null ? ' (' + data.equipe_b.gols_penaltis + ')' : '') +
                                                    ' ' + data.equipe_b.nome">
                                            </ng-container>
                                        </div>

                                    </div>

                                    <div class="form-group local-forms">

                                        <div *ngFor="let data of simulationResultMatchList; let i = index">
                                            <ng-container *ngIf="i === 1">
                                                <label>Jogo {{ i+1 }} {{ data.fase }} <span
                                                        class="login-danger">*</span></label>
                                                <input class="form-control" type="text" [value]="
                                                    data.equipe_a.nome + ' ' + 
                                                    (data.equipe_a.gols_marcados !== null ? data.equipe_a.gols_marcados : '') +
                                                    (data.equipe_a.gols_penaltis !== null ? ' (' + data.equipe_a.gols_penaltis + ')' : '') +
                                                    ' x ' +
                                                    (data.equipe_b.gols_marcados !== null ? data.equipe_b.gols_marcados : '') +
                                                    (data.equipe_b.gols_penaltis !== null ? ' (' + data.equipe_b.gols_penaltis + ')' : '') +
                                                    ' ' + data.equipe_b.nome">
                                            </ng-container>
                                        </div>

                                    </div>

                                    <div class="form-group local-forms">

                                        <div *ngFor="let data of simulationResultMatchList; let i = index">
                                            <ng-container *ngIf="i === 2">
                                                <label>Jogo {{ i+1 }} {{ data.fase }} <span
                                                        class="login-danger">*</span></label>
                                                <input class="form-control" type="text" [value]="
                                                    data.equipe_a.nome + ' ' + 
                                                    (data.equipe_a.gols_marcados !== null ? data.equipe_a.gols_marcados : '') +
                                                    (data.equipe_a.gols_penaltis !== null ? ' (' + data.equipe_a.gols_penaltis + ')' : '') +
                                                    ' x ' +
                                                    (data.equipe_b.gols_marcados !== null ? data.equipe_b.gols_marcados : '') +
                                                    (data.equipe_b.gols_penaltis !== null ? ' (' + data.equipe_b.gols_penaltis + ')' : '') +
                                                    ' ' + data.equipe_b.nome">
                                            </ng-container>
                                        </div>

                                    </div>

                                    <div class="form-group local-forms">

                                        <div *ngFor="let data of simulationResultMatchList; let i = index">
                                            <ng-container *ngIf="i === 3">
                                                <label>Jogo {{ i+1 }} {{ data.fase }} <span
                                                        class="login-danger">*</span></label>
                                                <input class="form-control" type="text" [value]="
                                                    data.equipe_a.nome + ' ' + 
                                                    (data.equipe_a.gols_marcados !== null ? data.equipe_a.gols_marcados : '') +
                                                    (data.equipe_a.gols_penaltis !== null ? ' (' + data.equipe_a.gols_penaltis + ')' : '') +
                                                    ' x ' +
                                                    (data.equipe_b.gols_marcados !== null ? data.equipe_b.gols_marcados : '') +
                                                    (data.equipe_b.gols_penaltis !== null ? ' (' + data.equipe_b.gols_penaltis + ')' : '') +
                                                    ' ' + data.equipe_b.nome">
                                            </ng-container>
                                        </div>

                                    </div>


                                </div>

                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">

                                        <div class="form-group local-forms">
                                        </div>

                                        <div *ngFor="let data of simulationResultMatchList; let i = index">
                                            <ng-container *ngIf="i === 4">
                                                <label>Jogo {{ i+1 }} {{ data.fase }} <span
                                                        class="login-danger">*</span></label>
                                                <input class="form-control" type="text" [value]="
                                                    data.equipe_a.nome + ' ' + 
                                                    (data.equipe_a.gols_marcados !== null ? data.equipe_a.gols_marcados : '') +
                                                    (data.equipe_a.gols_penaltis !== null ? ' (' + data.equipe_a.gols_penaltis + ')' : '') +
                                                    ' x ' +
                                                    (data.equipe_b.gols_marcados !== null ? data.equipe_b.gols_marcados : '') +
                                                    (data.equipe_b.gols_penaltis !== null ? ' (' + data.equipe_b.gols_penaltis + ')' : '') +
                                                    ' ' + data.equipe_b.nome">
                                            </ng-container>
                                        </div>

                                    </div>

                                    <div class="form-group local-forms">

                                        <div class="form-group local-forms">
                                        </div>

                                        <div *ngFor="let data of simulationResultMatchList; let i = index">
                                            <ng-container *ngIf="i === 5">
                                                <label>Jogo {{ i+1 }} {{ data.fase }} <span
                                                        class="login-danger">*</span></label>
                                                <input class="form-control" type="text" [value]="
                                                    data.equipe_a.nome + ' ' + 
                                                    (data.equipe_a.gols_marcados !== null ? data.equipe_a.gols_marcados : '') +
                                                    (data.equipe_a.gols_penaltis !== null ? ' (' + data.equipe_a.gols_penaltis + ')' : '') +
                                                    ' x ' +
                                                    (data.equipe_b.gols_marcados !== null ? data.equipe_b.gols_marcados : '') +
                                                    (data.equipe_b.gols_penaltis !== null ? ' (' + data.equipe_b.gols_penaltis + ')' : '') +
                                                    ' ' + data.equipe_b.nome">
                                            </ng-container>
                                        </div>

                                    </div>

                                    <div class="form-group local-forms">

                                        <div class="form-group local-forms">
                                        </div>

                                        <div *ngFor="let data of simulationResultMatchList; let i = index">
                                            <ng-container *ngIf="i === 6">
                                                <label>{{ data.fase }} <span class="login-danger">*</span></label>
                                                <input class="form-control" type="text" [value]="
                                                    data.equipe_a.nome + ' ' + 
                                                    (data.equipe_a.gols_marcados !== null ? data.equipe_a.gols_marcados : '') +
                                                    (data.equipe_a.gols_penaltis !== null ? ' (' + data.equipe_a.gols_penaltis + ')' : '') +
                                                    ' x ' +
                                                    (data.equipe_b.gols_marcados !== null ? data.equipe_b.gols_marcados : '') +
                                                    (data.equipe_b.gols_penaltis !== null ? ' (' + data.equipe_b.gols_penaltis + ')' : '') +
                                                    ' ' + data.equipe_b.nome">
                                            </ng-container>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-12 col-md-4 col-xl-4">
                                    <br>
                                    <div class="form-group local-forms">

                                    </div>
                                    <div class="form-group local-forms">
                                        <br>
                                    </div>
                                    <div class="form-group local-forms">


                                        <div *ngFor="let data of simulationResultMatchList; let i = index">
                                            <ng-container *ngIf="i === 7">
                                                <label>{{ data.fase }} <span class="login-danger">*</span></label>
                                                <input class="form-control" type="text" [value]="
                                                        data.equipe_a.nome + ' ' + 
                                                        (data.equipe_a.gols_marcados !== null ? data.equipe_a.gols_marcados : '') +
                                                        (data.equipe_a.gols_penaltis !== null ? ' (' + data.equipe_a.gols_penaltis + ')' : '') +
                                                        ' x ' +
                                                        (data.equipe_b.gols_marcados !== null ? data.equipe_b.gols_marcados : '') +
                                                        (data.equipe_b.gols_penaltis !== null ? ' (' + data.equipe_b.gols_penaltis + ')' : '') +
                                                        ' ' + data.equipe_b.nome">
                                            </ng-container>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-12 col-md-8 col-xl-8">

                                    <div class="doctor-submit text-end">

                                        <div class="form-group local-forms">
                                            <label>Selecione uma Partida Para ser
                                                Simulada<span class="login-danger">*</span></label>
                                            <mat-select [(ngModel)]="campeonato_id"
                                                [ngModelOptions]="{standalone: true}" class="form-control select"
                                                placeholder="Selecione Partida">
                                                <mat-option [value]="null">Selecione uma Partida Para ser
                                                    Simulada</mat-option>
                                                <mat-option *ngFor="let data of simulationMatchList" [value]="data.id">
                                                    {{ data.fase }} -
                                                    {{ data.equipe_a }}
                                                    {{ data.equipe_b }}
                                                </mat-option>
                                            </mat-select>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-12 col-md-4 col-xl-4">

                                    <div class="doctor-submit text-end">

                                        <button *ngIf="showButtonPrizeDraw" type="submit"
                                            class="btn btn-primary submit-form me-2"
                                            (click)="drawTeams()">Sorteio</button>

                                        <button type="submit" class="btn btn-primary submit-form me-2"
                                            (click)="simulateMatch()">Simular
                                            Partida</button>
                                        <button type="submit" class="btn btn-primary cancel-form">Cancelar</button>

                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
