<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="[]">Histórico de Competições</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Lista de Hitórico</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

                <div class="card card-table show-entire">
                    <div class="card-body">

                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <div class="doctor-table-blk">
                                        <h3>Histórico de Competições &nbsp;&nbsp;</h3>

                                        <div class="col-12 col-md-6 col-xl-6">
                                            <div>
                                                <mat-select [(ngModel)]="campeonato_id"
                                                    [ngModelOptions]="{standalone: true}" class="form-control select"
                                                    placeholder="Selecione um Campeonato">
                                                    <mat-option [value]="null">Selecione um Campeonato</mat-option>
                                                    <mat-option *ngFor="let data of historysChampionship"
                                                        [value]="data.id">
                                                        {{data.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>

                                        </div>

                                        &nbsp;&nbsp;

                                        <div class="col-12 col-md-3 col-xl-2">
                                            <button type="submit" class="btn btn-primary submit-form me-2"
                                                (click)="filterChampionship()"> &nbsp;Filtrar&nbsp; </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Table Header -->


                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)"
                                class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="position">Posição</th>
                                        <th mat-sort-header="name">Time</th>
                                        <th mat-sort-header="championship">Campeonato</th>
                                        <th mat-sort-header="date">data</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr *ngFor="let data of historyList"> -->
                                    <tr *ngFor="let data of historyList; let i = index">

                                        <td>{{ i + 1 }}</td>
                                        <td>{{data.time_name}}</td>
                                        <td>{{data.campeonato_name}}</td>
                                        <td>{{data.data_campeonato}}</td>

                                    </tr>
                                </tbody>
                            </table>
                            <div class="table_footer">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info">
                                        Showing {{ serialNumberArray[0] }} to
                                        {{ serialNumberArray[serialNumberArray.length - 1] }} of
                                        {{ totalData }} entries
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
